In [135]:
import pandas as pd

In [136]:
df = pd.read_csv("N26_Reviews.csv", encoding = 'latin-1')

In [137]:
df.head()

,Customer Name,Customer Review,N26 Response,Date Of Experience,Date Of Review,Rating Out Of 5,Country
0,Ivan Arty,They terminated my account for an unknown reas...,NaN,15 hours ago,2025-03-26T14:44:35.000Z,NaN,NaN
1,Rory Magee,I submitted a complaint to N26 on 27th Februar...,NaN,20 hours ago,2025-03-26T09:43:10.000Z,NaN,NaN
2,Van Loock stefan,I cancelled a investment on 12/3. N26 didnât...,"Hey Van, Thank you for the review Please reply...",A day ago,2025-03-25T21:12:57.000Z,1.0,NaN
3,Anton Pavliuchenko,"They blocked my account, and the support team ...","Hey, Thank you for taking the time to leave a ...",2 days ago,2025-03-25T14:30:56.000Z,1.0,NaN
4,Robert Reynolds,Stay away from this Bank. My passport expired ...,"Hey Bobert, Thank you for the review. We're so...",2 days ago,2025-03-25T13:35:59.000Z,NaN,NaN

In [138]:
print(df.shape)

(4980, 7)

In [139]:
df["Date Of Review"] = df["Date Of Review"].str.split("T").str[0]

In [140]:
df.head()

,Customer Name,Customer Review,N26 Response,Date Of Experience,Date Of Review,Rating Out Of 5,Country
0,Ivan Arty,They terminated my account for an unknown reas...,NaN,15 hours ago,2025-03-26,NaN,NaN
1,Rory Magee,I submitted a complaint to N26 on 27th Februar...,NaN,20 hours ago,2025-03-26,NaN,NaN
2,Van Loock stefan,I cancelled a investment on 12/3. N26 didnât...,"Hey Van, Thank you for the review Please reply...",A day ago,2025-03-25,1.0,NaN
3,Anton Pavliuchenko,"They blocked my account, and the support team ...","Hey, Thank you for taking the time to leave a ...",2 days ago,2025-03-25,1.0,NaN
4,Robert Reynolds,Stay away from this Bank. My passport expired ...,"Hey Bobert, Thank you for the review. We're so...",2 days ago,2025-03-25,NaN,NaN

In [141]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
print(df.columns)

Index(['customer_name', 'customer_review', 'n26_response',
       'date_of_experience', 'date_of_review', 'rating_out_of_5', 'country'],
      dtype='object')

In [142]:
colum = df["date_of_experience"]
colum.head(20)

0           15 hours ago
1           20 hours ago
2              A day ago
3             2 days ago
4             2 days ago
5             3 days ago
6     Updated 3 days ago
7             4 days ago
8             4 days ago
9             4 days ago
10            5 days ago
11            6 days ago
12            6 days ago
13    Updated 5 days ago
14            7 days ago
15    Updated 7 days ago
16          Mar 19, 2025
17    Updated 6 days ago
18          Mar 17, 2025
19          Mar 17, 2025
Name: date_of_experience, dtype: object

In [143]:
from datetime import datetime, timedelta

today = datetime(2025, 3, 27, 8, 34) 
for i in range(4980): 
    date_str = df.loc[i, "date_of_experience"]

    if "hour" in date_str:
        hours = int(date_str.split()[0])
        df.loc[i, "date_of_experience"] = (today - timedelta(hours=hours)).strftime("%b %d, %Y")
        
    elif "day" in date_str:
        days = int(date_str.split()[0]) if date_str.split()[0].isdigit() else 1
        df.loc[i, "date_of_experience"] = (today - timedelta(days=days)).strftime("%b %d, %Y")
        
    elif "Updated" in date_str:
        date_str = date_str.replace("Updated ", "")
        df.loc[i, "date_of_experience"] = date_str

In [144]:
column = df["date_of_experience"]
column.head(50)

0     Mar 26, 2025
1     Mar 26, 2025
2     Mar 26, 2025
3     Mar 25, 2025
4     Mar 25, 2025
5     Mar 24, 2025
6     Mar 26, 2025
7     Mar 23, 2025
8     Mar 23, 2025
9     Mar 23, 2025
10    Mar 22, 2025
11    Mar 21, 2025
12    Mar 21, 2025
13    Mar 26, 2025
14    Mar 20, 2025
15    Mar 26, 2025
16    Mar 19, 2025
17    Mar 26, 2025
18    Mar 17, 2025
19    Mar 17, 2025
20    Mar 16, 2025
21    Mar 16, 2025
22    Mar 15, 2025
23    Mar 14, 2025
24    Mar 13, 2025
25    Mar 12, 2025
26    Mar 12, 2025
27    Mar 12, 2025
28    Mar 11, 2025
29    Mar 11, 2025
30    Mar 10, 2025
31    Mar 10, 2025
32    Mar 10, 2025
33    Mar 10, 2025
34     Mar 9, 2025
35     Mar 7, 2025
36     Mar 6, 2025
37     Mar 6, 2025
38     Mar 5, 2025
39     Mar 5, 2025
40    Mar 17, 2025
41     Mar 5, 2025
42     Mar 5, 2025
43     Mar 5, 2025
44     Mar 5, 2025
45     Mar 5, 2025
46     Mar 4, 2025
47     Mar 4, 2025
48     Mar 6, 2025
49     Mar 2, 2025
Name: date_of_experience, dtype: object

In [145]:
df["date_of_experience"] = pd.to_datetime(df["date_of_experience"]).dt.strftime("%Y-%m-%d")

In [146]:
df

,customer_name,customer_review,n26_response,date_of_experience,date_of_review,rating_out_of_5,country
0,Ivan Arty,They terminated my account for an unknown reas...,NaN,2025-03-26,2025-03-26,NaN,NaN
1,Rory Magee,I submitted a complaint to N26 on 27th Februar...,NaN,2025-03-26,2025-03-26,NaN,NaN
2,Van Loock stefan,I cancelled a investment on 12/3. N26 didnât...,"Hey Van, Thank you for the review Please reply...",2025-03-26,2025-03-25,1.0,NaN
3,Anton Pavliuchenko,"They blocked my account, and the support team ...","Hey, Thank you for taking the time to leave a ...",2025-03-25,2025-03-25,1.0,NaN
4,Robert Reynolds,Stay away from this Bank. My passport expired ...,"Hey Bobert, Thank you for the review. We're so...",2025-03-25,2025-03-25,NaN,NaN
...,...,...,...,...,...,...,...
4975,Roger,NaN,NaN,2020-04-13,2020-04-13,5.0,NaN
4976,chibar chibard,Customer service is very excellent and answer ...,NaN,2020-04-13,2020-04-13,5.0,NaN
4977,Andreas,Best banking experience I've ever had! The UI ...,NaN,2020-04-13,2020-04-13,5.0,NaN
4978,Catarina Cabrita,Had an account for over a year and couldn't be...,NaN,2020-04-13,2020-04-13,NaN,NaN
4979,S. B.,If possible I would have given them 0 stars!!!...,"Hi,We sincerely apologise for any inconvenienc...",2020-05-28,2020-05-28,NaN,NaN

In [147]:
df["n26_response"].fillna("Pending", inplace=True)
df["rating_out_of_5"].fillna("Not Rated", inplace=True)
df["customer_review"].fillna("Not Provided", inplace=True)

In [148]:
df

,customer_name,customer_review,n26_response,date_of_experience,date_of_review,rating_out_of_5,country
0,Ivan Arty,They terminated my account for an unknown reas...,Pending,2025-03-26,2025-03-26,Not Rated,NaN
1,Rory Magee,I submitted a complaint to N26 on 27th Februar...,Pending,2025-03-26,2025-03-26,Not Rated,NaN
2,Van Loock stefan,I cancelled a investment on 12/3. N26 didnât...,"Hey Van, Thank you for the review Please reply...",2025-03-26,2025-03-25,1.0,NaN
3,Anton Pavliuchenko,"They blocked my account, and the support team ...","Hey, Thank you for taking the time to leave a ...",2025-03-25,2025-03-25,1.0,NaN
4,Robert Reynolds,Stay away from this Bank. My passport expired ...,"Hey Bobert, Thank you for the review. We're so...",2025-03-25,2025-03-25,Not Rated,NaN
...,...,...,...,...,...,...,...
4975,Roger,Not Provided,Pending,2020-04-13,2020-04-13,5.0,NaN
4976,chibar chibard,Customer service is very excellent and answer ...,Pending,2020-04-13,2020-04-13,5.0,NaN
4977,Andreas,Best banking experience I've ever had! The UI ...,Pending,2020-04-13,2020-04-13,5.0,NaN
4978,Catarina Cabrita,Had an account for over a year and couldn't be...,Pending,2020-04-13,2020-04-13,Not Rated,NaN
4979,S. B.,If possible I would have given them 0 stars!!!...,"Hi,We sincerely apologise for any inconvenienc...",2020-05-28,2020-05-28,Not Rated,NaN

In [149]:
df.drop(columns=["country"], inplace=True)

In [150]:
df

,customer_name,customer_review,n26_response,date_of_experience,date_of_review,rating_out_of_5
0,Ivan Arty,They terminated my account for an unknown reas...,Pending,2025-03-26,2025-03-26,Not Rated
1,Rory Magee,I submitted a complaint to N26 on 27th Februar...,Pending,2025-03-26,2025-03-26,Not Rated
2,Van Loock stefan,I cancelled a investment on 12/3. N26 didnât...,"Hey Van, Thank you for the review Please reply...",2025-03-26,2025-03-25,1.0
3,Anton Pavliuchenko,"They blocked my account, and the support team ...","Hey, Thank you for taking the time to leave a ...",2025-03-25,2025-03-25,1.0
4,Robert Reynolds,Stay away from this Bank. My passport expired ...,"Hey Bobert, Thank you for the review. We're so...",2025-03-25,2025-03-25,Not Rated
...,...,...,...,...,...,...
4975,Roger,Not Provided,Pending,2020-04-13,2020-04-13,5.0
4976,chibar chibard,Customer service is very excellent and answer ...,Pending,2020-04-13,2020-04-13,5.0
4977,Andreas,Best banking experience I've ever had! The UI ...,Pending,2020-04-13,2020-04-13,5.0
4978,Catarina Cabrita,Had an account for over a year and couldn't be...,Pending,2020-04-13,2020-04-13,Not Rated
4979,S. B.,If possible I would have given them 0 stars!!!...,"Hi,We sincerely apologise for any inconvenienc...",2020-05-28,2020-05-28,Not Rated

# difference between date of experience and date of review

In [151]:
df["date_of_experience"] = pd.to_datetime(df["date_of_experience"])
df["date_of_review"] = pd.to_datetime(df["date_of_review"])

df["difference_in_days"] = (df["date_of_experience"] - df["date_of_review"]).dt.days

In [152]:
df.head(20)

,customer_name,customer_review,n26_response,date_of_experience,date_of_review,rating_out_of_5,difference_in_days
0,Ivan Arty,They terminated my account for an unknown reas...,Pending,2025-03-26,2025-03-26,Not Rated,0
1,Rory Magee,I submitted a complaint to N26 on 27th Februar...,Pending,2025-03-26,2025-03-26,Not Rated,0
2,Van Loock stefan,I cancelled a investment on 12/3. N26 didnât...,"Hey Van, Thank you for the review Please reply...",2025-03-26,2025-03-25,1.0,1
3,Anton Pavliuchenko,"They blocked my account, and the support team ...","Hey, Thank you for taking the time to leave a ...",2025-03-25,2025-03-25,1.0,0
4,Robert Reynolds,Stay away from this Bank. My passport expired ...,"Hey Bobert, Thank you for the review. We're so...",2025-03-25,2025-03-25,Not Rated,0
5,Sergey,The support is really bad. You need to go over...,"Hey Sergey,Thanks for sharing your feedback.We...",2025-03-24,2025-03-24,2.0,0
6,eytriplesee,As an existing n26 customer I wanted to open a...,"Hey, Thank you for the review. We're sorry for...",2025-03-26,2025-03-24,Not Rated,2
7,Zarina,Somebody made unauthorised transactions from m...,"Hey, Thank you for taking the time to review u...",2025-03-23,2025-03-23,1.0,0
8,Houssam Eddine,It is a very bad bank. I do not recommend deal...,"Hey, Thank you for taking the time to leave a ...",2025-03-23,2025-03-23,Not Rated,0
9,Gregor,"I can't transfer any amount, because of en err...","Hey Gregor, Weâre sorry that resolving your ...",2025-03-23,2025-03-22,1.0,1
10,Tijana Tufek,Super difficult to close the account. I have n...,Hey Tijana!Thank you for the review. Please re...,2025-03-22,2025-03-22,1.0,0
11,Nelson Botelho,On March 18th my account was closed without an...,"Hey Nelson, Thanks for taking the time to leav...",2025-03-21,2025-03-21,1.0,0
12,Ingmar Turba,I was working on Iceland when i used this bank...,"Hey, Thank you for taking the time to leave a ...",2025-03-21,2025-03-20,Not Rated,1
13,C PM,The strain i have been put through with this b...,"Hey, Thank you for the review, Please reply to...",2025-03-26,2025-03-22,Not Rated,4
14,Michal,Absolutely unreliable support. They blocked my...,"Hey Michal,Thanks for taking the time to leave...",2025-03-20,2025-03-20,1.0,0
15,PM,"I cancel my membership with plenty of notice, ...","Hey, Thanks for your feedback. We're sorry for...",2025-03-26,2025-03-20,1.0,6
16,AYD,If you speak with Omar from support be aware h...,"Hey,Thanks for your review. We're sorry to hea...",2025-03-19,2025-03-19,Not Rated,0
17,ratzel,Ignored cancellation of premium plan and conti...,"Hey Ratzel, We're sorry for any issues downgra...",2025-03-26,2025-03-21,1.0,5
18,Sam,support service was pefect,Pending,2025-03-17,2025-03-17,5.0,0
19,Meike Knerr,My card was used for unauthorised payments and...,Hey Maika!Thanks for the review. We're sorry f...,2025-03-17,2025-03-17,Not Rated,0

# Total Reviews

In [153]:
total_reviews = df["customer_review"].count()
print("Total Reviews:", total_reviews)

Total Reviews: 4980

# List the customers who gave a rating of 1 to 5

In [154]:
one_star_count = df[df["rating_out_of_5"] == 1].shape[0]
print("1-Star Reviews Count:", one_star_count)

two_star_count = df[df["rating_out_of_5"] == 2].shape[0]
print("2-Star Reviews Count:", two_star_count)

three_star_count = df[df["rating_out_of_5"] == 3].shape[0]
print("3-Star Reviews Count:", three_star_count)

four_star_count = df[df["rating_out_of_5"] == 4].shape[0]
print("4-Star Reviews Count:", four_star_count)

five_star_count = df[df["rating_out_of_5"] == 5].shape[0]
print("5-Star Reviews Count:", five_star_count)

1-Star Reviews Count: 1227
2-Star Reviews Count: 158
3-Star Reviews Count: 120
4-Star Reviews Count: 276
5-Star Reviews Count: 1843

# Find the minimum and maximum response time between customer and n26 repsonse

In [155]:
min_response_time = df["difference_in_days"].min()
max_response_time = df["difference_in_days"].max()
print("Minimum Response Time:", min_response_time)
print("Maximum Response Time:", max_response_time)

Minimum Response Time: 0
Maximum Response Time: 6

# Count the number of unanswered responses by  n26 customer care

In [156]:
unanswered_count = df[df["n26_response"] == "Pending"].shape[0]
print("Unanswered Responses (Pending):", unanswered_count)

Unanswered Responses (Pending): 2720

# Counting Reviews for 5, 3, and 1-Star Ratings Across Years

In [157]:
df["year"] = df["date_of_review"].dt.year
filtered_reviews = df[(df["year"] >= 2020) & (df["year"] <= 2025)]
reviews_by_year_and_rating = filtered_reviews.groupby(["year", "rating_out_of_5"]).size().unstack(fill_value=0)

print("Reviews by Year and Rating:\n", reviews_by_year_and_rating)

Reviews by Year and Rating:
 rating_out_of_5  1.0  2.0  3.0  4.0  5.0  Not Rated
year
2020             159   14   11  103  560        265
2021             452   54   34   54  407        197
2022             234   29   19   33  340         97
2023             118   29   27   37  278        386
2024             206   24   26   45  224        331
2025              58    8    3    4   34         80

# install textblob

In [158]:
!pip install textblob

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: textblob in /home/bc84e4b8-d687-4c4a-9a9c-ab3c48e19553/.local/lib/python3.11/site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in /home/bc84e4b8-d687-4c4a-9a9c-ab3c48e19553/.local/lib/python3.11/site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: joblib in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from nltk>=3.9->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from nltk>=3.9->textblob) (2022.7.9)
Requirement already satisfied: tqdm in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from nltk>=3.9->textblob) (4.65.0)

# Analyzing  the sentiment of customer_review (positive , negative, neutral)

In [159]:
from textblob import TextBlob

In [160]:
def analyze_sentiment(text):
    polarity = TextBlob(str(text)).sentiment.polarity 
    if polarity > 0:
        return "Positive"
    elif polarity < 0:
        return "Negative"
    else:
        return "Neutral"
        
df["sentiment"] = df["customer_review"].apply(analyze_sentiment)

print("Sentiment Distribution:")
print(df["sentiment"].value_counts())

Sentiment Distribution:
sentiment
Positive    3174
Negative    1025
Neutral      781
Name: count, dtype: int64

# Analyzing the sentiment of customer_review (positive , negative, neutral) for 2024

In [161]:
df_2024 = df[df["date_of_review"].dt.year == 2024]

def analyze_sentiment(row):
    if row["rating_out_of_5"] in [4, 5]:
        return "Positive"
    elif row["rating_out_of_5"] == 3:
        return "Neutral"
    elif row["rating_out_of_5"] in [1, 2]:
        return "Negative"
    else:
        polarity = TextBlob(str(row["customer_review"])).sentiment.polarity
        if polarity > 0:
            return "Positive"
        elif polarity < 0:
            return "Negative"
        else:
            return "Neutral"

df_2024["sentiment"] = df_2024.apply(analyze_sentiment, axis=1)
print("Sentiment Distribution for 2024:")
print(df_2024["sentiment"].value_counts())

Sentiment Distribution for 2024:
sentiment
Positive    487
Negative    305
Neutral      64
Name: count, dtype: int64

/tmp/ipykernel_1191/3935219088.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2024["sentiment"] = df_2024.apply(analyze_sentiment, axis=1)

In [162]:
def update_sentiment(row):
    if row["rating_out_of_5"] in [4.0, 5.0]:
        return "Positive"
    elif row["rating_out_of_5"] == 3.0:
        return "Neutral"
    elif row["rating_out_of_5"] in [1.0, 2.0]:
        return "Negative"
    else:
        return row["sentiment"]  # Keep the existing sentiment value if no rating matches

# Update the sentiment column based on star ratings
df_2024["sentiment"] = df_2024.apply(update_sentiment, axis=1)

# Print sentiment distribution after the update
print("Updated Sentiment Distribution for 2024:")
print(df_2024["sentiment"].value_counts())

Updated Sentiment Distribution for 2024:
sentiment
Positive    487
Negative    305
Neutral      64
Name: count, dtype: int64

/tmp/ipykernel_1191/1498695171.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2024["sentiment"] = df_2024.apply(update_sentiment, axis=1)

In [163]:
df.to_csv("n26new.csv", index=False)
print("CSV file saved successfully!")

CSV file saved successfully!

In [164]:
df

,customer_name,customer_review,n26_response,date_of_experience,date_of_review,rating_out_of_5,difference_in_days,year,sentiment
0,Ivan Arty,They terminated my account for an unknown reas...,Pending,2025-03-26,2025-03-26,Not Rated,0,2025,Negative
1,Rory Magee,I submitted a complaint to N26 on 27th Februar...,Pending,2025-03-26,2025-03-26,Not Rated,0,2025,Positive
2,Van Loock stefan,I cancelled a investment on 12/3. N26 didnât...,"Hey Van, Thank you for the review Please reply...",2025-03-26,2025-03-25,1.0,1,2025,Positive
3,Anton Pavliuchenko,"They blocked my account, and the support team ...","Hey, Thank you for taking the time to leave a ...",2025-03-25,2025-03-25,1.0,0,2025,Negative
4,Robert Reynolds,Stay away from this Bank. My passport expired ...,"Hey Bobert, Thank you for the review. We're so...",2025-03-25,2025-03-25,Not Rated,0,2025,Negative
...,...,...,...,...,...,...,...,...,...
4975,Roger,Not Provided,Pending,2020-04-13,2020-04-13,5.0,0,2020,Neutral
4976,chibar chibard,Customer service is very excellent and answer ...,Pending,2020-04-13,2020-04-13,5.0,0,2020,Positive
4977,Andreas,Best banking experience I've ever had! The UI ...,Pending,2020-04-13,2020-04-13,5.0,0,2020,Positive
4978,Catarina Cabrita,Had an account for over a year and couldn't be...,Pending,2020-04-13,2020-04-13,Not Rated,0,2020,Positive
4979,S. B.,If possible I would have given them 0 stars!!!...,"Hi,We sincerely apologise for any inconvenienc...",2020-05-28,2020-05-28,Not Rated,0,2020,Positive